@model IEnumerable<SalesManagement.BusinessLayer.Models.SaleModel>

@{
    ViewData["Title"] = "Index";
}

<h4>List Of Sales</h4>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="salesTbl" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Seller.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfSale)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Seller.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfSale)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SaleId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SaleId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SaleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    $(function () {
        $("#salesTbl").dataTable();
    });

</script>
